body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header {
    background-color: rgb(65, 18, 119);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site-footer {
    background-color: rgb(65, 18, 119);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
}

fieldset {
    background-color: rgb(212, 196, 226);
    border-radius: 10px;
    border: 3px solid rgb(65, 18, 119);
    color: rgb(65, 18, 119);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}
legend {
    background-color: rgb(65, 18, 119);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
}

.form-row {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin: 15px 0;
}
.form-row label, .spacer {
    width: 120px;
    text-align: right;
    flex-shrink: 0; 
}

.form-row input:not([type='submit']), 
.form-row select, 
.form-row textarea {
    padding: 8px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: 1px solid rgb(65, 18, 119);
    flex-grow: 1; 
}
.form-row textarea {
    resize: vertical;
    min-height: 50px;
}

.check-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0; 
}
.radio-group, .checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-grow: 1;
}

.form-row input[type='submit'] {
    background-color: rgb(65, 18, 119);
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.submit-row {
    justify-content: flex-end; 
}


@media only screen and (max-width: 480px) {
    .form-row, .check-row {
        flex-direction: column;
        align-items: stretch;
        gap: 5px; 
        margin: 8px 0;
    }
    
    .form-row label, .spacer {
        width: 100%;
        text-align: left;
    }

    .radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-row.submit-row {
        justify-content: center;
        margin-top: 15px;
    }
    .form-row input[type='submit'] {
        width: 100%; 
        padding: 12px 20px;
        font-size: 1.1em;
    }
}