body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #181818;
    color: white;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #181818;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #3c3c3c;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.main-content {
    flex: 3; 
    padding-right: 20px;
}

.right-sidebar {
    flex: 1;
    background-color: #ddd;
    padding: 15px;
    order: 2; 
}

.batting-data {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

.batting-data caption {
    padding: 8px;
    font-weight: bold;
    caption-side: top;
}

.batting-data th {
    background-color: #03530e;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #03530e;
}

.batting-data td {
    padding: 8px;
    border: 1px solid #ccc;
}

.batting-data tbody tr:nth-child(even) {
    background-color: #cacaca; 
}