<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Christopher Nolan Films</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Top Christopher Nolan Films</h1>
        </header>
<nav>
    <a href="#">The Prestige</a> |
    <a href="#">Inception</a> |
    <a href="#">Interstellar</a> |
    <a href="#">The Dark Knight</a>
</nav>
 <main>
    <h2>Inception (2010)</h2>
    <figure class="movie-figure">
    <img src="top.jpg" alt="Spinning top shot from Inception." width="250" height="127">
    <figcaption>The spinning top in the final shot leaves the audience questioning reality, a classic Nolan move.</figcaption>
    </figure>
    <p>Inception is one of Christopher Nolan's most ambitious and intellectually engaging films. It takes the "heist" genre to another level by layering it with the infinite possibilities of the dream world. It explores the line between what is real and what is constructed, we well as themes of grief and subconscious desire.</p>
    <p>Inception follows Dom Cobb, a highly skilled corporate thief who specializes in stealing secrets by invading people's dreams. He is hired for the impossible task of "inception": planting a new idea deep within the subconscious of the rival heir. Cobb assembles a specialized team to execute this high-stakes heist, navigating through multiple dream levels. The mission is constantly threatened by Cobb's own guilt, personified by his deceased wife, Mal. To earn his promised reward, clearing his criminal record to be able to return home, Cobb must succeed and safely navigate the team back to reality.</p>
    <p>This film is renowned for its complex action scenes and special effects, like the iconic rotating hotel hallway fight and the disorienting Paris training scene. To top it off, Hans Zimmer's beautiful sound track perfectly accompanies the intensity and emotion of Cobb's mission to plant an idea deep into the target's mind. This film demonstrates that science fiction can also be profoundly moving and personal.</p>
</main>
<footer>
<p>&copy; Gianna Hohaia 2025 All Rights Reserved</p>
</footer>
    </div>
</body>
</html>