<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Christopher Nolan Films</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Top Christopher Nolan Films</h1>
        </header>
<nav>
    <a href="#">The Prestige</a> |
    <a href="#">Inception</a> |
    <a href="#">Interstellar</a> |
    <a href="#">The Dark Knight</a>
</nav>
 <main>
    <h2>Inception (2010)</h2>
    <figure class="movie-figure">
    <img src="top.jpg" alt="Spinning top scene from Inception." width="250" height="135">
    <figcaption>The spinning top in the final shot leaves the audience questioning reality, a classic Nolan move.</figcaption>
    </figure>
    <p>Inception is one of Christopher Nolan's most ambitious and intellectually engaging films. It takes the "heist" genre to another level by layering it with the infinite possibilities of the dream world. It explores themes of and the line between what is real and what is real and constructed, grief, and subconscious desires.</p>
    <p>This film is renowned for its complex action scenes and special effects, like the iconic rotating hotel hallway fight and the disorienting Paris training scene. Hans Zimmer's score perfectly accompanies the intensity and emotion of Cobb's mission to plant an idea deep into the target's mind. This film demonstrates that science fiction can also be profoundly moving and personal.</p>
</main>
<footer>
<p>&copy; Gianna Hohaia 2025 All Rights Reserved</p>
</footer>
    </div>
</body>
</html>