body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
#nav {
    display: flex;
    justify-content: space-around;
}
main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.div {
    border: 1px solid black;
    padding: 10px;
}