body {
    font-family: Arial, Helvetica, sans-serif
    font-size: 18px;
}

#nav {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 1px solid black;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
