body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3c2f2f;
    color: #f0f0f0; 
    margin: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffd700; 
    color: #3c2f2f; 
    padding: 15px;
    text-align: center;
    border-bottom: 5px solid #a34343;
}
header h1 {
    margin: 0;
    font-weight: bold;
}

footer {
    background-color: #282020; 
    color: #ffd700; 
    text-align: center;
    padding: 12px;
    margin-top: auto; 
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #a34343; 
    flex-wrap: wrap; 
}
nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #f0f0f0; 
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid transparent;
}
nav a:hover {
    background-color: #ffd700; 
    color: #3c2f2f; 
}

nav a.current {
    background-color: #3c2f2f; 
    color: #ffd700; 
    border-color: #ffd700;
}
nav a.current:hover {
    background-color: #3c2f2f;
    color: #ffd700;
}

.mainrow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 1;
    width: 95%;
    max-width: 1200px;
    margin: 15px auto;
    padding: 10px 0;
}

.sidebar {
    width: 25%;
    padding: 15px;
    background-color: #4b3c3c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #ffd700; 
}

.datatable{
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

.batting-data caption {
    padding: 8px;
    font-weight: bold;
    caption-side: top;
}

.datatable{
    background-color: #251d0f;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc
}

.datatable td {
    padding: 8px;
    border: 1px solid #ccc;
}

.datatable tbody tr:nth-child(even) {
    background-color: #a34343; 
}