body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('arg.png');
    background-repeat: repeat;
    background-color: rgb(144, 183, 255);
    color:rgb(30, 51, 86)
}
header{ 
    background-image: url('arg\ copy.png');
    background-repeat: no-repeat;
    background-position: right;
}
    
.mylist {
    list-style-image: url('mate.png');
}
.other {
    background-image: url('background.jpg');
    background-repeat: repeat;
    background-color: rgb(107, 159, 255);
}